{{#if image}}
	<div class="station-branding brand pull-left"><img src="{{image}}" alt="" /></div>
{{/if}}
<div class="pull-left"> 
  <h1 class="jp-stream-title">{{title}}</h1>
	<span class="jp-location">{{location.local}} {{location.city}}, {{location.country}}</span> </div>
	<button type="button" class="btn btn-navbar menu-trigger pull-right hidden-lg"><i class="icon-reorder"></i></button>
</div>
