<div class="bbgPodcastSection">
<ul class="audio-list">
{{#each models}}
    <li id="podcast-{{@index}}" data-cid="{{cid}}" itemscope itemtype="http://schema.org/AudioObject">
    	<a href="" class="podcast-pause" style="display: none;">Pause</a>
    	<a href="" class="podcast-resume" style="">Play</a> 
    	<div class="title">
            <a href="#/podcasts/{{cid}}">
        		<span itemprop="name">{{attributes.title}}</span>
            </a>
    		<i class="bbgPodcastInfoDetails "></i>
    	</div>
    	<div class="desc" itemprop="description">{{{attributes.description}}}</div>

        <meta itemprop="contentURL" content="{{attributes.url}}" />
        <meta itemprop="duration" content="{{attributes.duration}}" />
        <meta itemprop="datePublished" content="{{attributes.published}}" />

    </li>
{{/each}}
</ul>
