
<h3 class="back-btn">
	<a href="#/podcasts">&lt; Podcasts</a>
</h3
<div class="podcast-details">
	<h3>{{published}}</h3>

    	<a href="" class="podcast-pause" style="display: none;">Pause</a>
    	<a href="" class="podcast-resume" style="display: none;">Play</a> 
    	<div class="title">
    		<h2 itemprop="name">{{title}}</h2>
    		<i class="bbgPodcastInfoDetails "></i>
    	</div>
    	<div class="desc" itemprop="description">{{{description}}}</div>

        <meta itemprop="contentURL" content="{{attributes.url}}" />
        <meta itemprop="duration" content="{{attributes.duration}}" />
        <meta itemprop="datePublished" content="{{attributes.published}}" />

</div>

