{{#if title}}
	<h1>{{title}}</h1>
{{/if}}
{{#if category}}
	<p>{{category}}</p>
{{/if}}
{{#if description}}
	<div>{{description}}<div>
{{/if}}
{{#if location}}
	<p>location: {{location.local}}</p>
	<p>city: {{location.city}}</p>
	<p>country: {{location.country}}</p>
{{/if}}
